* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1110px;
  margin-top: 38px;
  margin-left: 165px;
  border: 1px solid black;
}

.container .hero .logo {
  margin-top: 38px;
  display: flex;
  flex-direction: row;
}

.container .hero .logo img {
  margin-right: 831px;
}

.container .hero .logo a {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  background-color: #13183F;
  color: white;
  padding: 14px 32px;
  border-radius: 10%;
}

.banner {
  display: flex;
  flex-direction: row;
  margin-top: 87px;
}

.banner .banner-left {
  width: 457px;
  margin-right: 162px;
}

.banner .banner-left h1{
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-weight: 800;
}

.banner .banner-left p {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  color: #83869A;
  margin-top: 29px;
  margin-bottom: 40px;
}

.banner .banner-left a {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  padding: 20px 50px;
  text-decoration: none;
  background-color: #FF6F48;
  border-radius: 10%;
  /* margin-top: 40px; */
}

.banner .banner-right {
  width: 317px;
  height: 560px;
}