* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans;
  background-color: rgb(250, 249, 249);
}

.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
  
  .header {
    max-width: 1110px;
    margin: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-top: 24px;
    margin-bottom: 172px;
    
    .get-started-btn {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #FFF;
      background-color: #13183F;
      padding: 14px 32px;
      border-radius: 28px;
      text-decoration: none;
    }
  }
}

.hero {
  max-width: 1110px;
  margin: auto;

  display: flex;
  
  .hero-text {
    max-width: 457px;
    margin-bottom: 226px;

    h1 {
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 56px;
      line-height: 100%;
      letter-spacing: 0px;
      color: #13183F;
      margin-bottom: 29px;
    }
    
    p {
      font-weight: 400;
      font-style: Medium;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #83869A;
      margin-bottom: 40px;
    }
    
    a {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      padding: 19px 31px;
      color: #FFF;
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      border-radius: 31.5px;
      text-decoration: none;
    
      display: block;
      width: 167px;
    
      text-align: center;
    }
  }
}

.hero-img {

  .desktop-img {
    position: absolute;
    top: 0;
    right: 0;
    
  }

  .course-hours {
    /* width: 199px; */
    padding: 20px 24px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
  
    top: 515px;
    right: 450px;
  
    h5 {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #83869A;
    }
  
    p {
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0px;
      color: #13183F;
    }
  }
  
  .members {
    /* width: 199px; */
    padding: 20px 24px;
    background-color: #FFF;
    border-radius: 15px;
    position: absolute;
  
    top: 285px;
    right: 135px;
  
    h5 {
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #83869A;
    }
  
    p {
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0px;
      color: #13183F;
    }
  }
}

.grid-container {
  width: 1110px;
  margin-inline: 100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 350px 350px;
  row-gap: 56px;
  column-gap: 30px;
  margin-bottom: 140px;
  
  .grid-item {
    /* border: 1px solid black; */
    background-color: white;
  }
  .part-1 {
    background-color: #F02AA6;
    
    h1 {
      margin-top: 64px;
      margin-inline: 32px;
      color: white;
    }
  }
  
  .part-2 {
    display: flex;
    position: relative;  
    
    img {
      margin-left: 32px;
      margin-bottom: 32px;
      position: absolute;
    }
    .write {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      
      h1,h3 {
        margin-inline: 32px;
        margin-bottom: 24px;
      }
      h3 {
        color: #83869A;
      }
      h3 a {
        color: #F74780;
        text-decoration: none;
      }
    }
    
  }
  
  .part-3 {
  
    img {
      margin-left: 32px;
      margin-bottom: 32px;
    }
    
    h1 {
      margin-inline: 32px;
      margin-bottom: 24px;
    }
    
    h3 {
      margin-inline: 32px;
      margin-bottom: 44px;
    }
    
    h3 {
      color: #83869A;
    }
    
    h3 a {
      color: #F74780;
      text-decoration: none;
    }
  }
  .part-4 {
  
    img {
      margin-left: 32px;
      margin-bottom: 32px;
    }
    
    h1,h3 {
      margin-inline: 32px;
      margin-bottom: 24px;
    }
    
    h3 {
      color: #83869A;
    }
    h3 a {
      color: #F74780;
      text-decoration: none;
    }
  }
  .part-5 {
    
    img {
      margin-left: 32px;
      margin-bottom: 32px;
    }
    
    h1,h3 {
      margin-inline: 32px;
      margin-bottom: 24px;
    }
    
    h3 {
      color: #83869A;
    }
    h3 a {
      color: #F74780;
      text-decoration: none;
    }
  }
  .part-6 {
  
    img {
      margin-left: 32px;
      margin-bottom: 32px;
    }
    
    h1,h3 {
      margin-inline: 32px;
      margin-bottom: 24px;
    }
    
    h3 {
      color: #83869A;
    }
    h3 a {
      color: #F74780;
      text-decoration: none;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  width: 1110px;;
  padding: 30px 0 30px 0;
  background-color: #13183F;
  margin-inline: 100px;
  margin-bottom: 50px;
  
  img {
    margin-left: 165px;
    margin-right: 650px;
  }
  
  a {
    text-decoration: none;
    color: white;
    background-color: #F02AA6;
    padding: 14px 31px;
    border-radius: 20%;
  }
}